.ant-descriptions-view {
    background-color: #003765;
    color: #fff; /* Optional: change text color to improve readability */
}
:where(.css-dev-only-do-not-override-6l350z).ant-descriptions .ant-descriptions-item-content{
    color: #fff;
}
:where(.css-dev-only-do-not-override-6l350z).ant-descriptions.ant-descriptions-bordered >.ant-descriptions-view{
    border: 1px solid rgb(223 35 35 / 0%);
}
:where(.css-dev-only-do-not-override-6l350z).ant-descriptions.ant-descriptions-bordered >.ant-descriptions-view .ant-descriptions-row{
    border-bottom: 1px solid #fff;
}
:where(.css-dev-only-do-not-override-6l350z).ant-descriptions.ant-descriptions-bordered >.ant-descriptions-view .ant-descriptions-row >.ant-descriptions-item-label, :where(.css-dev-only-do-not-override-6l350z).ant-descriptions.ant-descriptions-bordered >.ant-descriptions-view .ant-descriptions-row >.ant-descriptions-item-content{
    border-inline-end: 1px solid #fff;
}